<tool name="WindowsEventLog">  <version>3.0.0</version>  <date>2020-09-21</date>  <container>#.WindowsEventLog</container>  <needs>    <script development="true">APLTreeUtils2</script>    <script development="true">FilesAndDirs</script>    <script development="true">OS</script>    <script development="true">Tester2</script>    <script development="true">CodeCoverage</script>    <script development="true">WinSys</script>    <script development="true">WinReg</script>  </needs>  <autoload>1</autoload>  <buildid>6</buildid>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Tools to read from and write to the Windows Event Log</desc>  <tags>apltree;windows-event-log;windows</tags></tool>
